<mat-form-field appearance="outline">
  <mat-label>{{'Secret'}}</mat-label>
  <input [(ngModel)]="secret"
         [disabled]="!editable"
         maxlength="8"
         minlength="8"
         matInput
         #name="ngModel"
         placeholder="Secret">
  <button (click)="editable = true" *ngIf="!editable" class="icon" mat-icon-button matSuffix type="submit">
    <mat-icon>edit</mat-icon>
  </button>
  <button (click)="editable = false; save()" [disabled]="name.invalid" *ngIf="editable" class="icon" mat-icon-button matSuffix>
    <mat-icon>check</mat-icon>
  </button>
  <mat-error *ngIf="name.invalid">{{'Secret should have 8 characters!'}}</mat-error>
</mat-form-field>
