.auth {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    &__image {
      width: 8.5rem;
      padding-top: 2.5rem;
    }
  }
}

.header {
  display: grid;
  text-align: center;
  font-size: 48px;
  padding: 24px 0;
  font-family: "Rubik Medium", sans-serif;
}
