$font-family: (
  'primary': #{"'Rubik Regular', sans-serif"},
  'secondary': #{"'Campton', sans-serif"},
  'icofont': #{"'icomoon' !important"},
);

$font-weight: (
  'light': 300,
  'regular': 400,
  'medium': 500,
);

$text-font-size: (
  'tiny': 10px,
  'small': 12px,
  'medium': 14px,
  'regular': 16px,
  'big': 18px,
);

$title-font-size: (
  'small':20px,
  'medium': 26px,
  'big': 36px,
  'large': 48px,
);

@mixin text-font-size($size) {
  font-size: map_get($text-font-size, $size);
}

@mixin title-font-size($size) {
  font-size: map_get($title-font-size, $size);
}
